@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff3dd;
  --dark-green: #264633;
  --light-green: #5e9b50;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
